<!DOCTYPE html>
<html lang="en" ng-app="webApp">
<head>
    <meta charset="UTF-8">
    <title>BlackJack</title>
    <link rel="shortcut icon" type="image/png" href="favicon2.png"/>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/blackjack/game.css" />
    <link rel="stylesheet" href="css/messages.css" />

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body ng-controller="gameCtrl" ng-init="init()">
    <div class="news">News goes here</div>
    <div ng-show="gameOver" class="news">
        Game over
    </div>
    <div class="display" ng-controller="messageCtrl">
        <div class="errors" id="error-message">
            <h2>{{errorMsg.title}}</h2>
            <div ng-repeat="message in errorMessage.messages">{{message}}</div>
            <button class="button col-xs-9 col-sm-4" ng-click="hideErrorMessage()">
                {{errorMsg.buttonText}}
            </button>
        </div>
        <div class="success" id="success-message">

        </div>
        <div class="loading" id="loading-message">

        </div>
        <div class="col-md-12 overlay errors success loading"></div>
    </div>
    <div class="table col-sm-12">
        <p ng-model="cardsLeft">
            Cards left: {{cardsLeft}}
        </p>
        <div ng-show="gameOver">
            <div id="{{player.id}}" class="fullReveal" ng-repeat="player in players">
                <div>Player {{player.id}}</div>
                <img ng-src="Cards/{{card.suit}}{{card.symbolicValue}}.png" ng-repeat="card in player.hand" />
            </div>
        </div>
        <p>
            You have {{players[playerId].points}} points.
        </p>
    </div>
    <div class="hand col-sm-12">
        <img ng-src="Cards/{{card.suit}}{{card.symbolicValue}}.png" ng-repeat="card in players[playerId].hand" />
    </div>
    <div class="actions col-xs-12">
        <div class="col-md-6 col-sm-12 draw" ng-click="draw()">
            Draw
        </div>
        <div class="col-md-6 col-sm-12 hold" ng-click="hold()">
            Hold
        </div>
    </div>
</body>

<script src="js/angular.min.js"></script>
<script src="js/blackjack/app.js"></script>
<script src="js/blackjack/deck.js"></script>
<script src="js/blackjack/decider.js"></script>
<script src="js/messages.js"></script>
<script src="js/blackjack/game.js"></script>

</html>