/*
Colour palette from a CJ:
#fffdfc Snow(White)
#040300 Black(Black)
#fcf520 Lemon(Yellow)
#d51607 Venetian Red(Red)
#f0ef6e Dolly(Yellow)
#a52524 Brown(Brown)
#838283 Grey(Grey)
#580200 Red Oxide(Red)
#e7e9a8 Medium Goldenrod(Yellow)
#300001 Seal Brown
*/

/* Tags */
body {
    background-color: #417643; /* poker green */
    color: #fff;
}

/* Classes */
.actions {
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 5em;
}

.draw {
    background-color: #fcf520;
}

.fullReveal {
    display: inline-block;
    padding: 10px;
}

.gameOver {
    display: none;
    background-color: #000000;
}

.hold {
    background-color: #d51607; /* Venetian Red */
    color: #fff;
}

.news {
    background-color: #000000;
    color: #fff;
}

.table {
    display: none;
}

/* IDs */

#reloadPage {
    display: none;
    text-align: center;
    background-color: #300001;
    bottom: 0;
    font-size: 5em;
}
